@import "tailwindcss";

/* primary: #2b9de6;
primarydark: #124175;
darkgray: #1a1f25;
lightgray: #272c35; */

.container {
  padding: 1rem;
  align-items: text-center;
}
.text-outline {
  -webkit-text-stroke: 2px white;
}
.outline-btn {
  @apply border-[2px] rounded-xl px-6 py-2;
}
.rounded-icons {
  @apply h-[30px] w-[30px] flex justify-center items-center rounded-full bg-white/40 hover:scale-110 duration-200 p-2 cursor-pointer;
}
